h1 {
	color:#66cc66;
	font-family:"courier new";
	font-style: italic;
	font-size: 50px;
	border-style: solid;
	border-color:#660099 #33CC33 #66FF66 #663333;
	border-width:10px;
	background-color:#000099 ;
}
h2 {
	color:#333399;
	font-family:"courier new";
	font-size: 25px;
	font-style: oblique;
	font-weight: 100;
	border-style: double;
	border-color: #FF99FF #CCFF33 #CC0000 #99FF33;
	border-width: 7px;
	background-color: #3399CC;
}
html {
	background-color: #000000;
	border-style: solid;
	border-color: #006633;
	border-width: 10px;
}
p {
	font-family: Impact,Charcoal, sans-serif;
	font-size: 20px;
	color: #909090;
	border-style: inset;
	border-color: #669933;
	border-width: 10px;
}
main {
	border-style: groove;
	border-color: #006633 #660033 #33FF33;
	border-width: 20px;
	background-color: 686868;
}
footer {

	font-style: italic;
	font-size: 18px;
	color: #D8D8D8;
	font-variant: small-caps;
	border-color:	#3333CC;
	border-style: outset;
	border-width: 7px;
}
	
